<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/styles.css">
    <title>Webbserver</title>
    
</head>
<body>
    <img src="cofee.JPG">
    <form action="/" method="post">
        <input type="text" name="name" placeholder="Namn">
        <input type="email" name="email" placeholder="example@email.com">
        <input type="number" name="age" placeholder="33">
        <button type="submit">Okej</button>
    
    </form>
    
    <nav class="navbar">
        <a href="/" class="navbar__logo">SASS</a>
        <div class="navbar__bars"></div>
        <div class="navbar__menu">
            <a href="/" class="navbar__menu--links">Home</a>
            <a href="/" class="navbar__menu--links">Products</a>
            <a href="/" class="navbar__menu--links">About</a>
            <a href="/" class="navbar__menu--links" id="button">Sign Up</a>
        </div>
    </nav>


    <div class="hero">
        <div class="hero__container">
            <div class="hero__container--left">
                <h1>Fresh coffee</h1>
                <h2>Just for you</h2>
                <p>Sign up now to join</p>
                <button class="hero__container--btn"><a href="#">Sign Up</a></button>
            </div>
            <div class="hero__container--right">
                <img src="images/coffe2.jpg" alt="" class="hero__container--img" />
            </div>
        </div>
    </div>


</body>
</html>